extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #amts
                p Waiting for reply from all AMTs...
              a.btn.btn-primary.btn-xl#checkagainbutton(href='amt_status') Re-Send Check
        script(src="/static/js/amt_status.js")