extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              p
                | Checking all AMTs...
              |    
              a.btn.btn-primary.btn-xl(href='amt_status') Check Again