extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #amts
                p Checking all AMTs...
              a.btn.btn-primary.btn-xl#checkagainbutton(href='amt_status') Check Again
        script(src="/static/js/amt_status.js")