extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Text
              |                 
              hr
              |                 
              p
                | Text
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Text
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Text
                |                     
                hr.light
                |                     
                p.text-faded
                  | alf
                |                     
                a.btn.btn-default.btn-xl(href='#') Text
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Text
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-tasks.wow.bounceIn.text-primary
                  |                         
                  h3 Text
                  |                         
                  p.text-muted Text
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Text
                  |                         
                  p.text-muted Text
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Text
                  |                         
                  p.text-muted Text
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-file-code-o.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Text
                  |                         
                  p.text-muted Text
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Text
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Text
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading WagerOps
                |                     
                hr.primary
                |                     
                p
                  | blank
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p (###)###-####
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')