extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 TVG-Gekkō
              |                 
              hr
              |                 
              p
                | A Combined Nodejs solution to handle multiple aspects of site monitoring, filtering of error logs, and 3rd party data exaimination.
                | Errors are listed in this web interface and over slack.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') More info
        |     
        section#separation.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Critical system alerts can be found here:        
                a.btn.btn-default.btn-xl(href='Status') None
        |     
        section#about
          .container
            .row
              .col-lg-12.text-center
                h2.i.fa.fa-2x.fa-info-circle.wow.bounceInsection-heading  Whats all this?
                |                     
                hr.primary
                p.text-muted Gekkō is a complete platform for WagerOps to monitor all aspects of horse racing and computer systems
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-tasks.wow.bounceIn.text-primary
                  |                         
                  h3 Powerful Monitoring
                  |                         
                  p.text-muted Monitor all Tracks at a glance
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-exclamation-triangle.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Sensible Alerts
                  |                         
                  p.text-muted Monitor all systems and put an end to false positive spam
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Everything in one place
                  |                         
                  p.text-muted all the tools you need, and they aren't hidden 5 folders deep
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-gears.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Smart
                  |                         
                  p.text-muted Powered by Node.js - modern, powerful, extendable, and doesn't crack under pressure
        |     
        //aside.bg-dark
        //  .container.text-center
        //    .call-to-action
        //      h2 Text
        //      |                 
        //      a.btn.btn-default.btn-xl.wow.tada(href='#') Text
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Contact WagerOps
                |                     
                hr.primary
                |                     
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p (###)###-####
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                p ##########@tvg.com