extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #main
                a.btn.btn-primary.btn-xl One day this might show SDL
                br
                br
                p in the meantime please use:
                br
                a.fa.fa-2x.fa-th-list.text-primary.a(href='tracklist_page')  SDL TrackList