extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #main
                a.btn.btn-primary.btn-xl Not functional in this demo :(