extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #main
                a.btn.btn-primary.btn-xl One day this might show the status of all critical systems