extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #topcontainer
                p All tool pages are listed here
              a.fa.fa-2x.fa-th-list.text-primary.a(href='tracklist_page')  SDL TrackList
              br
              br
              a.fa.fa-2x.fa-calendar-check-o.text-primary.a(href='amt_status')  AMT Date Check
              br
              br
              br
              br
              br
              p More to come...