extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #topcontainer
                p All tool pages are listed here
                a.fa.fa-2x.fa-calendar-check-o.text-primary.a(href='amt_status')  AMT Date Check
              br
              br
              p More to come