extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #tracks
                ul.tracks_unorderedlist
                a.btn.btn-primary.btn-xl Waiting for reply
        script(src="/static/js/tracklist_page.js")