extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              #tracks
                p Waiting for reply
        script(src="/static/js/tracklist_page.js")